body {
    padding: 0;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .code-container {
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.089);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main .code-container .code-frame {
    width: 400px;
    height: 400px;
    background-image: url("./images/image-qr-code.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
}

main .code-container .code-label {
    text-align: center;
}
main .code-container .code-label h1 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

main .code-container .code-label h2 {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

@media screen and (max-width: 375px) {
    main .code-container {
        width: 250px;
    }

    main .code-container .code-frame {
        width: 250px;
        height: 250px;
    }

    main .code-container .code-label {
        font-size: 65%;
    }
}
